<div class="container-fluid mt-7 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-17 col-17 mx-auto">
            <h1 class="text-center main-heading">About Me</h1>
            <!-- <p class="text-center sub-heading">Me</p> -->
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img src="images/about.svg" alt="herosection_image">
                    </figure>
                </div>
                <div class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>I'M Md Arif Atther Usmani</h1>
                    <h4>Address - Jabalpur, MP</h4> <h4>Email - arifusmani154@gmail.com</h4>
                    <P>I'm Full Stack Developer. I love coding, developing websites, and exploring and learning new things and technology. I m pursuing B.tech Computer Science from Gyan Ganga Institute of Technology and Science,Jabalpur Passout-2023</P>
                    <button class="btn-style btn-primary"><a href="#contactid">Contact Me</a></button>
                </div>
                
            </div>
        </div>
    </div>
</div>