<div class="container-fluid mt-8 about-style" id="skillsid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">My Skills</h1>
            <!-- <p class="text-center sub-heading">mjhsjfjh</p> -->
            <div class="row">
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="/images/html.png" alt="service">
                            </div>
                            <h1>HTML</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services privacy">
                            <div class="icon">
                            <img src="/images/css.png" alt="service">
                            </div>
                            <h1>CSS3</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services backups">
                            <div class="icon">
                            <img src="/images/js.png" alt="service">
                            </div>
                            <h1>JavaScript</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services ssl">
                            <div class="icon">
                            <img src="/images/react.png" alt="service">
                            </div>
                            <h1>ReactJS</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services database">
                            <div class="icon">
                            <img src="/images/node.png" alt="service">
                            </div>
                            <h1>NodeJs</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services speedup">
                            <div class="icon">
                            <img src="/images/mongodb.png" alt="service">
                            </div>
                            <h1>MongoDB</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services speedup">
                            <div class="icon">
                            <img src="/images/python.png" alt="service">
                            </div>
                            <h1>Python</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services ssl">
                            <div class="icon">
                            <img src="/images/django.png" alt="service">
                            </div>
                            <h1>Django</h1>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxx">
                        <div class="our-services database">
                            <div class="icon">
                            <img src="/images/sql.png" alt="service">
                            </div>
                            <h1>SQL</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>