<div class="container-fluid mt-5 service-style" id="socialid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Social Links</h1>
            <!-- <p class="text-center sub-heading">mjhsjfjh</p> -->
            <div class="row">
                <div class="col-md-4">
                    <div class="boxy">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="/images/github.png" alt="service">
                            </div>
                            <a href="https://github.com/MdArifAttherUsmani" target="_blank"><h1>Git Hub</h1></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="boxy">
                        <div class="our-services privacy">
                            <div class="icon">
                            <img src="/images/linkd.png" alt="service">
                            </div>
                            <a href="https://www.linkedin.com/in/md-arif-atther-usmani-ba38821b2/" target="_blank"><h1>LinkedIn</h1></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>